{% extends "basic_layout.njk" %}
{% block content %}
<div class="wrap h-100 position-relative">
    <div class="head-nav">
        <div class="head-nav-left">
            <h1 class="head-nav-title">Admin</h1>
            
            <button id="openAdminForm" class="icon-button icon icon__add">
                <span class="mr-0"></span>
            </button>
            <h3 class="haed-nav-sub-title">Add New Admin</h3>
        </div>
        <div class="head-nav-right">
            <input type="text" class="head-nav-input">
            <button class="icon-button icon icon__search">
                <span></span>
            </button>
            <button class="icon-button icon icon__alarm">
                <span></span>
            </button>
        </div>
    </div>
    <div class="content w-90">        
        <table class="table w-100">
            <tr>
              <th class="col-1">
                ID
                <button class="icon-button icon icon__downward icon-size-12 p-0">
                    <span></span>
                </button>
              </th>
              <th class="col-2">Name</th>
              <th class="col-3">Email</th>
              <th class="col-4">Verified</th>
              <th class="col-5"></th>
            </tr>
            <tr>
                <td>#1</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
          
            <tr>
                <td>#2</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch  mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#3</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch  mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#4</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch  mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#5</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch  mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#6</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch  mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#7</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch  mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#8</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch  mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#9</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch  mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#10</td>
                <td>Emir Wicks</td>
                <td>emir.wicks@mail.com</td>
                <td>Yes</td>
                <td>
                    <div class="buttons d-flex justify-content-end">
                        <button class="icon-button icon icon__watch  mr-6">
                            <span></span>
                        </button>
                        <button class="icon-button icon icon__pen">
                            <span></span>
                        </button>
                    </div>
                </td>
            </tr>
          </table> 
          <div class="position-bottom pagination-area d-flex justify-content-end w-90">
            <ul class="pagination d-flex justify-content-center align-items-center ">
                <li class="pagination-link pagination-link-left"><a href="#" class="icon-button icon icon__pg_prev text-center h-100">
                    <span></span></a>
                </li>
                <li class="pagination-link"><a href="#" class="text-center">1</a></li>
                <li class="pagination-link"><a href="#" class="text-center">2</a></li>
                <li class="pagination-link"><a href="#" class="text-center">3</a></li>
                <li class="pagination-link pagination-link-right"><a href="#" class="icon-button icon icon__pg_next text-center h-100">
                    <span></span></a></li>
            </ul>
          </div>
    </div>
</div> 
<script src="{{javascript_directory}}admin.js"></script>
{% endblock %}