.form{
    background-color:$white;
    width: 30rem;
    // height:80vh;
    position: relative;

    input[type=text]{
        padding: 1rem;
    }
    input[type=text]:disabled{
        padding: 1rem;
        border:  none;
        background-color: $third;
    }

    &-head{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100px;
        padding:0 2rem;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content{
        height: 90vh;
        padding-top: 100px;
        padding-left: 2rem;
        padding-right: 2rem;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none; /*Chrome, Safari and Opera */
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
    &-part{
        border-bottom: 1px solid $border;
        margin-bottom: map-get($spacers,6);
        &:last-child{
            border-bottom: none;
        }      
    }
    
    &-title{
        font-size: map-get($spacers,5);
        line-height: map-get($spacers,5)*1.5;
        font-weight: bold;
        margin-bottom: map-get($spacers,5);
    }


    &-label{
        font-size: map-get($font-sizes,7);
        line-height: map-get($font-sizes,7)*1.5;
        color:$text;
    }
    &-input{
        width: 100%;
        height: 50px;
        margin-bottom:map-get($spacers,5);
    }

    &-select{
        border-radius: 2px;
    }

    &-checkbox{
        display: block;
        margin-right:1.5rem;
        margin-bottom:1rem;
    }

   
    &-footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 70px;
        background-color: #fff;
        padding: 0 2rem;

    }
    
}


