.side-nav{
    width: 300px;
    height: 100vh;
    background-color: $secondary;
    padding: map-get($spacers,10) map-get($spacers,9);

}

.logo{
    margin-bottom: map-get($spacers,8);
    img{
        width: auto;
        height: map-get($font-sizes,2);
    }
}


.nav-links{
    font-weight: bold;
    li{
        margin-bottom: map-get($spacers,7);
        display: flex;
    }
    
}
