.btn{
    display: inline-block;
    font-weight: bold;
    appearance: none;
    padding: 0.5rem 2rem;
    border:none;
    box-shadow: none;
    background-color:$transparent;
    border-radius: 2px;
}


.btn-lg{
    width: 100%;
    padding: 1rem 0;
}


.btn-white{
    background-color:$white;
    color: $primary;
    border: 1px solid $primary;
}

.btn-primary{
    background-color:$primary;
    color: $white;
    border: 1px solid $primary;
}

.btn-warn{
    background-color:$white;
    color: $warn;
    border: 1px solid $warn;
}

.btn-verification{
    border: 1px solid $border;
    color: $primary;
}

.btn-disabled{
    border: 1px solid $border;
    color: $border;
}

.attachment{
    display: inline-block;
    display: flex;
    align-items: center;
    width: 11.5rem;
    border: 1px solid $border;
    padding:map-get($spacers,13) map-get($spacers,3);
    background: $third;
    
    span{
        margin: 0;
        margin-right: 0.5rem;
        background-image: url("../../images/icons/attach_file_black_24dp.svg");
        display: inline-block;
    }
}