<div id="watchMember" class="full-screen-background d-none">
   <div class="container d-flex justify-content-center align-items-center h-100">
      <div id="card" class="card d-flex ">
         <img class="card-image mr-6" src="../../images/peoples/emir.jpeg" alt="大媽">
         <div class="card-content w-100">
            <div class="id d-flex justify-content-between">
               <p>#1</p>
               <button id="closeCard" class="icon-button icon icon__clear p-0">
                  <span></span>
              </button>
            </div>
            <p class="authority mt-2">Admin</p>
            <p class="user-name fz-6">Emir Wicks</p>
            <p class="mail smallest-text mt-2">emir.wicks@mail.com</p>
            <div class="dropdown d-flex justify-content-between mb-8">
               <div class="status smallest-text text-black bg-third p-1 border-radius     
                           text-regular">Verified</div>
               <button id="card-expand" class="card-expand icon-button icon icon__dropdown p-0">
                  <span></span>
              </button>
            </div>
            <div id="card-buttons" class="buttons d-flex justify-content-between mb-8 hide-buttons">
               <input type="button" class="btn btn-warn" value="Deactivate">
               <input type="button" class="btn btn-primary" value="Edit">
            </div>
         </div>
      </div>
   </div>
</div>